body {
	width: 100%;
	text-align: center;
}
button {
	padding: 20px;
	text-transform: uppercase;
	background: transparent;
	color: #111;
	border: 3px solid #111;
	border-radius: 5px;
	font-weight: bold;
	font-size: 1em;
	outline: none;
}
button:hover {
	cursor: pointer;
	box-shadow: 0 0 3pt 2pt rgba(0,0,0,0.2);
}
button:active {
outline: none;
}

#myDiv {
	margin-top: 20%;
	text-transform: uppercase;
	font-family: sans-serif;
	color: #111;
}